@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap");
@font-face {
    font-family: 'MuseoSans';
    src: url('MuseoSans.otf');
 }

body, 
html {
    scroll-behavior: smooth;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

#background-img {
    background-image: url(assets/background.headline.jpg);
    min-height: 500px;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
    z-index: -2;
}

#transparant {
    min-height: 500px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

.navigation-bar {
    max-width: 100%;
    height: 5rem;
    background: linear-gradient(to bottom, #000, #0003 70%,#0000);
    transition: .3s;
}

.my-logo {
    display: inline-block;
    vertical-align: top;
    width: 10rem;
    height: -15rem;
    margin-right: 20px;
    margin-top: 5px;
}

.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    line-height: 80px;
}

nav.scrolled {
    background: #0a0a0a;
}


a[href^="#"] {
    color: white;
}

nav {
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
}

nav li {
    display: inline;
    list-style-type: none;
    margin: 5rem;
}

nav a {
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    color: wheat;
}

a:hover {
    color: white;
}

a {
    text-decoration: none;
    color: black
}

a:visited {
     color: #fa8f52;
}

.headline {
    font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    color: white;
    text-align: center;
}

.paw-img {
    padding: 0 auto;
    margin: 0 auto;
}

.pengantar {
    background-image: url(assets/bg-pengantar.png);
    padding: 0em 2em 2em 2em;
    box-shadow: 0px 4px 10px 3px #0002;
    border-radius: 3em;
}

#first, #first-text {
    font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    color: black;
        font-size: 1.4vw;
    text-align: center;
    margin: 0 4rem 2 4rem;
    padding-top: 0;
}

#first-text {
    color: white;
    margin: 0 3em 1em 1em;
    text-align: center;
}

.adoptioncont {
    font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    color: black;
        font-size: 1.4vw;
    text-align: justify;
    margin: 2rem 4rem 1rem 4rem;
    padding-top: 0;
}

ul {
    list-style-image: url(assets/icons8-cat-footprint-12.png);
}

li {
    margin: 0em 6em 1em 6em;
    text-align: justify;
    font-family: 'Karla',-apple-system, BlinkMacSystemFont, 'Segoe UI', 
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
        sans-serif;
    font-size: 1.2vw;
}

.kolom {
    margin: 0 auto;

}

.gap {
    padding-bottom: 3em;
}
  
.img-catoy {
    width: 10rem;
    float: right;
    padding: 0;
    margin-right: 40em;
}

.first-paragraph {
    background-color: #fa8f52;
    padding: 2em 2em 1em 2em;
}

.isi {
    background-image: url(assets/bg-pengantar.png);
    max-width: 100%;
    box-shadow: 2px 4px 10px 3px #0002;
    border-radius: 2em;
}

#adoptionloc {
    display: flex;
    background-image: url(assets/bg.catanimation.jpg);
    max-width: 100%;
    padding: 1em 1em 1em 1em;
    margin-top: 1em;
    box-shadow: 0px 4px 10px 3px #0002;
    border-radius: 2em;
}


.kolom {
    flex-grow: 2;
}


#box {
    padding: 1em 2em 2em 2em;
    background-color:white;
}

.clear {
    clear: both;
}

h3,
.importantmsg {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
        sans-serif;
    font-weight: 900;
    text-align: center;
}

h1 {
    font-family: 'MuseoSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
    font-weight: 900;
}

h2 {
    padding-top: 0.9em;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 3.5vw;
    font-family: 'MuseoSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
        sans-serif;
    font-weight: 900;
}   

.top {
    padding: 2em 0 0 0;
}

.bottom {
    padding: 0 0 2em 0;
}

#bio {
    background-image: url(assets/dog_and_cat_pattern-11.eps);
}

@media only screen and (max-device-width: 1366px) {
    #background.img {
        background-attachment: scroll;
    }
}
