@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400&display=swap");
@font-face {
    font-family: "MuseoSans";
    src: url("assets/MuseoSans.otf");
}

* {
    font-size: 1vw;
}

body,
html {
    scroll-behavior: smooth;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

#background-img {
    background-image: url(assets/background.headline.jpg);
    min-height: 500px;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
    z-index: -2;
}

#transparant {
    min-height: 500px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

.navigation-bar {
    max-width: 100%;
    /* height: 5rem; */
    background: linear-gradient(to bottom, #000, #0003 70%, #0000);
    transition: 0.3s;
}

.my-logo {
    display: inline-block;
    vertical-align: top;
    width: 12rem;
    height: -15rem;
    margin: 0 auto;
    /* margin-right: 20px; */
    margin-top: 1rem;
}

.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    /* margin-right: 20px; */
    /* line-height: 80px; */
}

nav.scrolled {
    background: #0a0a0a;
}

a[href^="#"] {
    color: white;
}

nav {
    /* padding: 1rem; */
    position: fixed;
    top: 0;
    width: 100%;
}

nav li {
    display: inline;
    list-style-type: none;
    margin: 6rem;
}

nav a {
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    color: wheat;
}

a:hover {
    color: orange;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: #fa8f52;
}

.headline {
    font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: white;
    text-align: center;
}

.paw-img {
    padding: 0 auto;
    margin: 0 auto;
}

.pengantar {
    background-image: url(assets/bg-pengantar.png);
    padding: 0rem 2rem 2rem 2rem;
    box-shadow: 0px 4px 10px 3px #0002;
    border-radius: 3em;
}

#first,
#first-text {
    font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: black;
    font-size: 1.4rem;
    text-align: center;
    margin: 0 4rem 2 4rem;
    padding-top: 0;
}

#first-text {
    color: white;
    margin: 0 3rem 1rem 1rem;
    text-align: center;
}

.moreinfo {
    font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: black;
    font-size: 1.4rem;
    text-align: justify;
    margin: 2rem 4rem 1rem 4rem;
    padding-top: 0;
}

ul {
    padding: 0;
    list-style-image: url(assets/icons8-cat-footprint-12.png);
}

li {
    margin: 0rem 6rem 1rem 6rem;
    text-align: justify;
    font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.2rem;
}

.kolom {
    margin: 0 auto;
}

.gap {
    padding-bottom: 3rem;
}

.img-catoy {
    width: 10rem;
    float: right;
    padding: 0;
    margin-right: 30rem;
}

.first-paragraph {
    background-color: #fa8f52;
    padding: 2rem 2rem 1rem 2rem;
}

.isi {
    background-image: url(assets/bg-pengantar.png);
    max-width: 100%;
    box-shadow: 2px 4px 10px 3px #0002;
    border-radius: 2rem;
}

#adoptionloc {
    display: flex;
    background-image: url(assets/bg.catanimation.jpg);
    max-width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 1rem;
    box-shadow: 0px 4px 10px 3px #0002;
    border-radius: 2rem;
}

.kolom {
    flex-grow: 2;
}

#box {
    padding: 1rem 2rem 2rem 2rem;
    background-color: white;
}

h3,
.importantmsg {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    text-align: center;
}

h1 {
    font-family: "MuseoSans", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-weight: 900;
}

h2 {
    padding-top: 0.9rem;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 3rem;
    font-family: "MuseoSans", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-weight: 900;
    /* margin-left: 2rem; */
}

.top {
    padding: 2rem 0 0 0;
}

.bottom {
    padding: 0 0 2rem 0;
}

#bio {
    color: white;
    font-family: "MuseoSans", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    background-color: black;
    /* margin-top: -3em; */
    padding: 2rem;
    /* padding: 0em 2em 2em 2em; */
    box-shadow: 0px 4px 10px 3px #0002;
}

#content_aboutMe {
    /* background-color: aquamarine; */
    text-align: justify;
    float: left;
    width: 60%;
}

aside {
    /* text-align: center; */
    /* background-color: aqua; */
    float: right;
    width: 20%;
    margin: 1rem;
}

#h2_aboutMe,
#how {
    margin-left: 2rem;
}

#P_aboutMe {
    padding: 3rem;
}
/* 
.judulbio,
.katabio {
} */

.aku {
    border-radius: 50%;
    width: 10rem;
    display: block;
    margin: auto;
    /* margin: 3em 1em 2em 2em; */
    /* float: left; */
}

aside table {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

/* .icon {
    width: 1.2rem;
} */

aside th,
aside td {
    font-size: 1rem;
    text-align: center;
    padding: 0.2rem;
}

aside th {
    margin: auto;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

aside tr {
    display: flex;
    margin: 0.5rem;
}

.clear {
    clear: both;
}

.hehe {
    background-color: white;
    color: black;
    text-align: center;
    width: 100%;
    padding: 1rem 0rem 1rem 0rem;
    margin: 0;
}

@media only screen and (max-device-width: 1366px) {
    #background.img {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 1024px) {
    * {
        font-size: 1.4vw;
    }

    aside {
        width: 25%;
    }
}

@media screen and (max-width: 950px) {
    * {
        font-size: 1.6vw;
    }

    nav li {
        margin: 3rem;
    }
}

@media screen and (max-width: 650px) {
    * {
        font-size: 2vw;
    }

    nav li {
        margin: 2rem;
    }
}

@media screen and (max-width: 480px) {
    * {
        font-size: 2.4vw;
    }

    aside {
        width: 30%;
    }

    #h2_aboutMe {
        font-size: 2rem;
    }
}

@media screen and (max-width: 380px) {
    nav li {
        margin: 1.5rem;
    }
}
